*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar-container{
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

.navbar{
    display: flex;
    padding:5px 30px;
    justify-content: space-between;
    align-items: center;
}

.navbar-left svg{
    width:13%;
    cursor:pointer;
}

.navbar-left{
    display:flex;
    align-items: center;  
    font-weight: 700;
}
.navbar-left >*,
.navbar-right> *{
    padding:15px;
    font-size:14px;
    
}
.navbar-right{
    display:flex;
    align-items: center;
    font-weight: 500;
}

.find-store{
    display:flex;
    align-items: center;
    margin-right: 40px;
    
}

.find-store i{
    margin-right: 10px;
    font-size:22px;
    
}

.navbar-left div:hover,
.find-store:hover{
    color:#006241;
    cursor:pointer;
}

.sign-in,.join-now{
    border:1px solid black;
    border-radius:40px;
    padding: 5px 15px;
    margin-right: 10px;
    cursor:pointer;
}

.join-now{
    background-color:black;
    color:white;
}

.sign-in:hover{
    background-color:rgba(0,0,0,0.07);
}

.join-now:hover{
    background-color:rgba(0,0,0,0.8)
}


.container{
    max-width:1440px;
    margin-top:40px;
}

.products img{
    width:100%;
    height:100%;
    object-fit: contain;
}

.products{
    display:flex;
    background-color: #eb81a5;
    margin-bottom:40px;
}

.product-left,.product-right{
    max-width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: stretch;
}

.product-title{
    font-size:52px;
    max-width:50%;
    color:#1e3932;
    font-weight: 600;
    margin-bottom:20px;

}
.reward-title{
    font-size:25px;
    font-weight: 600;
    transform: translate(30%,0);
}

.reward-description{
    transform: translate(25%,0);
    font-size:18px;
    margin-top:20px;
    font-weight: 500;
    max-width:90%;
    text-align: center;
}

.product-description{
    text-align: center;
    font-size: 24px;
    max-width:80%;
    color:#1e3932;
}

.button{
    border:1px solid black;
    width:fit-content;
    border-radius:40px;
    padding: 5px 15px;
    cursor:pointer;
    margin-top:30px;
}
.button:hover{
    background-color:rgba(0,0,0,0.2);
}

#third{
    text-align: center;
    max-width:70%;
    color:black;
}

#third-product{
    background-color: #8f8bf4;
}
#third-description{
    color:black;
}


.foot-panel1{
    display: flex;
    justify-content:space-evenly;
    height: 400px;
    border-top:2px solid rgba(0,0,0,0.07);
    padding-top: 20px;
}

.foot-panel1 p{
    font-size:20px;
}
.foot-panel1 a{
    display: block;
    margin-top:1.5rem;
    color:rgba(0,0,0,0.58);
}

.foot-panel2{
    margin-left:80px;
    border-top:2px solid rgba(0,0,0,0.1);
    padding-top:20px;
    max-width:90%;
}

.footer-socials{
    font-size: 30px;
    color:rgb(45, 45, 45);
}

.footer-socials i{
    margin-right: 10px;
    border-radius: 50%;
}

.foot-panel3 {
    display: flex;
    margin-top:30px;
    margin-left:60px;
}

.foot-panel3 a{
    margin-right:30px;
    margin-left:20px;
}

.foot-panel3 a:hover{
    cursor:pointer;
    text-decoration:underline;
}

.foot-panel4{
    margin-left:70px;
    margin-top:30px;
    font-size:15px;
    color:rgba(0,0,0,0.7);
}